body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #ffff;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f9fa;
    z-index: 1000;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.header-top {
    border-bottom: 1px solid #ccc;
}

.profile-ph img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container .input-group {
    width: 300px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}

.social-icons a {
    margin: 0 5px;
    font-size: 25px;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    list-style: none;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #e9ecef;
}

.nav a:hover {
    color:#f8f9fa;
}

.main {
    padding-top: 120px; /* Ensure this matches the header's height */
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* Start About Style */
 
        .about-container {
            display: flex;
        }
        .left {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
        .right {
            width: 60%;
            padding: 20px;
        }
        .photo-name {
            text-align: center;
            margin-bottom: 20px;

        }
        .contact-info {
            padding: 20px;
        }
        img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            border: 1px solid white;
            object-fit: cover;
        }
   
/* End About Style */

/* Start Experience Section style */

.experience-container { 
    max-width: 100%; 
    width: 100%; 
    display: flex; 
    gap: 20px; 
    padding: 2px; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.experience-section {
    width: 100%;
    background-color: white; /* White background for experience section */ 
    color: black; /* Text color for better contrast */ 
    padding: 20px;
    border-radius: 10px;
}

.company-logo {
    float: left;
    margin-right: 20px;
    width: 50px; /* Fixed width */
    height: 50px; /* Fixed height */
    border-radius: 5px; /* Rounded corners */
    object-fit: cover; /* Ensures the image covers the area */
}

.experience {
    margin-bottom: 20px;
}

.experience h3, .experience p {
    margin: 0; /* Remove margins */
    text-align: justify; /* Justify the text */
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.description-line {
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
}

.description-full {
    display: none;   
}

.see-more {
    color: black; /* Default color */
    cursor: pointer;
}

.see-more:hover {
    color: blue; /* Color on hover */
}
/* End Experience Section style */   



/* Start Resume/CV Style */
.section {
    padding: 0; /* Remove padding to eliminate gaps */
    width: 100%;
}

.top-section {
    max-width: 100%;
    border: 2px solid #ccc;
    background-color: #fff;
    
}

.middle-section {
    border: 2px solid #ccc;
    background-color: #fff;
    margin-top: -1px; /* Ensure no gap between sections */
}

.group-top,
.group-middle,
.group-right {
    padding: 20px 0; /* Remove padding to eliminate gaps */
    border-radius: 0; /* Remove border radius to eliminate gaps */
    background-color: #fff;
}

.group-top h2,
.group-middle h2,
.group-right h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    background-color: #ced4da;
}

.group-top h2:hover, 
.group-middle h2:hover, 
.group-right h2:hover { 
    color:#f8f9fa;
}

.group-top p,
.group-middle ul,
.group-right ul {
    font-size: 16px;
    color: #666;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 0; /* Remove margin to eliminate gaps */
}

@media (max-width: 768px) {
    .middle-sections .col-md-8, .middle-sections .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* Print Styles */
@media print {
    body * {
        visibility: hidden;
    }

    #cv, #cv * {
        visibility: visible;
    }

    #cv {
        position: absolute;
        left: 0;
        top: 0;
        width: 29.7cm; 
        height: 42cm; 
        padding: 5mm; /* Padding for print */
        box-sizing: border-box;
    }

    .print-button {
        display: none;
    }

    .group-top, .group-middle, .group-right {
        page-break-inside: avoid; 
    }


.group-top h2, 
.group-middle h2, 
.group-right h2 { 
    background-color: #ced4da; 
  } 
}

/* End Resume/CV Style */



/* Start Form Style */
        
        .form-container {
            width:50%;
            margin-left: 350px;
            border-radius: 30px;
            padding: 20px;
            background-color: white;
            align-items: center;
            
        }
        .form-container h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-clear {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
        }
        .btn-clear:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }
        .btn-send {
            background-color: #28a745;
            border-color: #28a745;
            color: white;
        }
        .btn-send:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
        .scrolling-text {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
        }
        .scrolling-text p {
            display: inline-block;
            padding-left: 100%;
            animation: scroll 20s linear infinite;
            background-color: #ced4da; /* Default background color */
       }

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

        }
         
        @keyframes scroll {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(-100%, 0);
            }
        }

/* End Form Style */


/****** Start Style for Mobile ******/

/* Profile Photo for Mobile View */
.profile-photo {
    display: none;
}

.profile-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

/* Top Navigation */
.top-navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.top-navigation .profile-photo {
    position: static;
}

.top-navigation .top-icons {
    display: flex;
    gap: 15px; /* Adjust gap for even spacing */
}

.top-navigation .top-icons a {
    color: #333;
    font-size: 25px;
    text-decoration: none;
}

/* Bottom Navigation */
.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 2;
}

.bottom-nav a {
    color: white;
    font-size: 35px;
    text-decoration: none;
}

/* For larger screens */
@media screen and (min-width: 769px) {
    #banner-large,
    #profile-area {
        display: block;
    }
    nav {
        display: block; /* Show navigation on larger screens */
        position: relative; /* Position relative to place it below the banner */
        top: 10px; /* Adjust as needed */
    }
    .top-navigation,
    .bottom-nav,
    .top-navigation 
    .top-navigation .top-icons {
        display: none; /* Hide on larger screens */
    }
}

/* For smaller screens */
@media screen and (max-width: 768px) {
    nav .navbar-brand,
    .navbar-toggler {
        display: none; /* Hide home and hamburger icons on mobile */
    }

    nav, 
    .header-top, 
    .header-bottom { 
        display: none; /* Hide navigation on mobile */ 
    }
    
    .top-navigation {
        display: flex; /* Show top navigation on mobile */
    }
    .bottom-nav {
        display: flex; /* Show bottom navigation on mobile */
    }
    .profile-photo {
        display: flex; /* Show profile photo on mobile */
    }
    .top-navigation .top-icons {
        display: flex; /* Show top icons on mobile */
    }
}

/* Hide top and bottom menus on scroll */
.hide {
    display: none !important;
}

/* End Style for Mobile */


/* ABOUTB STYLE TEST1 * /
 
.about-banner {
    top: 0 px;
    width: 100%;
    height: 100px;
   /' background-image: url('banner.png'); /* Replace with the URL of the banner image */
    background-size: cover;
    background-position: center;
    background-color: blue;
    position: relative;
    z-index: 500; 
}
.about-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    bottom: -75px;
    left: 20px;
    background-image: url('photo.jpg'); /* Replace with the URL of the profile photo */
    background-size: cover;
    background-position: center;
}
.about-content {
    display: flex;
    padding: 20px;
    gap: 20px; /* Added space between the containers */
    margin-top: 215px;
}
.aboutleft-container {
    flex: 0 0 40%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid white; /* Changed border to white */
    background-color: black; /* Set background color to white */
}
.aboutright-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid white; /* Changed border to white */
    background-color: red; /* Set background color to white */
}
.aboutcontact-info {
    display: flex;
    justify-content: space-between;
}
.aboutcontact-info span {
    margin-right: 10px; /* Added margin between spans */
}

/* END OF ABOUTB STYLE TEST1 * /


